@font-face {
    font-family: Gilroy-Black;
    src: url(../assets/fonts/gilroy/Gilroy-Black.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(../assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../assets/fonts/gilroy/Gilroy-SemiBold.ttf);
}